# This file is tangled from a code in README.org.
# It should not be modified directly.
*~

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pyg
*.toc

# The LaTeX is generated; don't version control it.
*.tex

_minted-unicode
